@tailwind base;
@tailwind components;
@tailwind utilities;


/* main */

.maincolor{
  background-color: rgb(118,167,19);
}



@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

  .primary-font{
    font-family: 'Dosis', sans-serif;
  }

  .moveArrow {
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
  }
  
  @keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(40px);}
  }