@tailwind base;
@tailwind components;
@tailwind utilities;


/* main */

.maincolor{
  background-color: rgb(118,167,19);
}



@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

  .primary-font{
    font-family: 'Dosis', sans-serif;
  }

  .moveArrow {
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
  }
  
  @keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(40px);}
  }


 

.section2main:hover .section2img{
transform: scale(1.10);
transition: opacity 0.3s ease-in-out,  0.4s ease-in-out;


}

.section2main .section2img {
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.button{
width: 140px;
border-radius: 30px;
}
.buttonChild{


}
.childarrow{
  display: none;

  margin:auto ;
}

.button:hover .childarrow{
 display: block;
 transition-duration: 400ms;
}
.button:hover {
  width: 170px;
  transition-duration: 400ms;
  
}


/* wave */
.child {

  


}
.parents {
 
}

/* .parentDiv:hover .childDiv{

}
 */
.offer{
  background-image: url(./assets/eatveg.jpg);
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

  
}

.backgroundABout{
 background-image: url(./assets/aboutBackGround.png);
}
/* .shape1{
  background-image: url(..);
} */